<!DOCTYPE html>
<html lang="en">
<head>
    <title> English to BSL </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../static/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/res/css/style.css">
    <link rel="stylesheet" href="../static/lib/js/range-slider/bootstrap-slider.min.css">
</head>

<body>

<div class="flash"></div>
<div id="notification-text"></div>

<!-- INFO MENU TEXT -->
<div class="overlay" id="curtain"></div>

<div class="overlay" id="overlay-text">
    This project was created for the MSc in Computer Science at University
of Oxford. The thesis describing this work can be found here: <a href="#">link to paper</a>
    <h1 style="margin-top: 50px">GENERAL INFO</h1>
    <div style="text-align: left">
        <h1>Disclaimer</h1>
        The system is still in conceptual form with this being the first version. Complex sentence constructs, including those containing
        classifier predicates and agreement verbs, will not be handled correctly. The number of signs availabl is limited, however more will
        be added with time. <a href="#" id="showdir">Here</a> is a comprehensive list of all currently available signs.
        <div id="dir-result" style="white-space: pre-wrap;"></div>
        <h2>Manual features</h2>
        <ul>
            <li><b>poss_</b>: Possessive pronoun equivalent in English</li>
            <li><b>ix_</b>: Index, used for pronouns in English, "that" and identifying people when given names</li>
        </ul>
        <h2>Non-manual features</h2>
        <ul>
            <li><b>hn</b>: Head Nod, identifies the subject in the sentence</li>
            <li><b>q</b>: Question</li>
            <li><b>pause</b>: denotes the end of a group of words (e.g. a description)</li>
            <li><b>neg</b>: Negation, attaches to the NOT sign and one(s) following</li>
            <li><b>past</b>: past tense (head tilted to the side)</li>
            <li><b>future</b>: future tense (head tilted up)</li>
            <li><b>intense</b>: eyes open wide and brows raised</li>
        </ul>
        <h2>Sign modifiers</h2>
        <ul>
            <li><b>cp</b>: Comparative, applied to adjectives holding the sign at the beginning</li>
            <li><b>sp</b>: Superlative, as above but the hold is longer and signed faster</li>
        </ul>
    </div>
</div>
<!-- OPTIONS MENU -->
<div class="overlay-menu" id="white-curtain"></div>

<div class="overlay-menu" id="menu-text">
    <h2 style="margin-bottom: 50px">Animation options</h2>
    Speed: <span id="speed" style="padding-right: 20px">1.0</span><input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0.2" data-slider-max="2.0" data-slider-step="0.1" data-slider-value="1.0" data-slider-tooltip="hide"/>
    <br/><br/>
    Automatic camera: <input type="checkbox" name="auto-camera" id="auto-camera">
    <br/><br/>
    Show non-manual features: <input type="checkbox" name="non-man-help" id="non-man-help">
</div>

<div class = "helper">
    <div id = "non-manual-square">
        <span id="non-manual-text"></span>
    </div>
</div>
    <!-- MAIN INTERFACE -->
    <div class="container">
        <div class="buttons">
            <!-- BUTTONS INTERFACE -->
            <div id="play-pause" class="media"><span id="switcher" class="glyphicon glyphicon-pause"></span></div>
            <div id="stop" class="media"><span class="glyphicon glyphicon-stop"></span></div>
            <div id="swap" class="media"><span class="glyphicon glyphicon-eye-open"></span></div>
            <div id="translate" class="button disabled">Translate</div>
            <div id="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
        </div>
        <div class="text">
            <!-- EXAMPLE SENTENCES -->
            <div class="subcontainer">
                <div id="select"><span class="glyphicon glyphicon-font"></span>
                    <!--<span style="font-weight: bold">?</span>-->
                    <ul class="sub-menu">
                        <li>What's your name?</li>
                        <li>I live in London.</li>
                        <li>My brother, Jack, is 22 years old.</li>
                        <li>I won't go to the beach if it'll rain tomorrow.</li>
                        <li>Do you think cats are quite small animals?</li>
                    </ul>
                </div>
                <!-- TEXT INTERFACE -->
                <input id="english" type="text" placeholder=' english sentence...' name="input_text">
            </div>
            <div id="bsl" ><div id="temp">BSL output...</div></div>
        </div>
    </div>
<!-- BOTTOM BUTTONS OPTIONS/INFO -->
<div id="info-button"><span class="glyphicon glyphicon-info-sign"></span></div>
<div id="options">Options</div>

    <script src="../static/lib/js/range-slider/bootstrap-slider.min.js"></script>
    <script src="../static/lib/js/bootstrap.min.js"></script>

    <script src="../static/lib/js/jquery.min.js"></script>

    <script src="../static/lib/js/three.js"></script>

    <script src="../static/lib/js/controls/OrbitControls.js"></script>

    <script src="../static/lib/js/Detector.js"></script>
    <script src="../static/lib/js/libs/stats.min.js"></script>

    <script src="../static/lib/js/Tween.js"></script>

    <script type="x-shader/x-vertex" id="vertexShader">
                varying vec3 vWorldPosition;
                void main() {
                    vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
                    vWorldPosition = worldPosition.xyz;
                    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
                }
    </script>

    <script type="x-shader/x-fragment" id="fragmentShader">
                uniform vec3 topColor;
                uniform vec3 bottomColor;
                uniform float offset;
                uniform float exponent;
                varying vec3 vWorldPosition;
                void main() {
                    float h = normalize( vWorldPosition + offset ).y;
                    gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( max( h, 0.0 ), exponent ), 0.0 ) ), 1.0 );
                }
    </script>

    <!-- here we choose which file we want to run -->
    <!--<script src = ../static/threejs/tests/alphabet-interpreter.js></script>-->
    <script src = '../static/threejs/utils.js'></script>
    <script src = ../static/threejs/main.js></script>
</body>

</html>